/* review.css */

/* .review-page {
  background-color: #f2f2f2;
  padding: 50px 0;
} */

.reviews-container {
  /* position: fixed; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

h2 {
  color: #333;
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.review-item {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.review-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.review-item p {
  margin: 10px 0;
  color: #555;
}

/* Add some animation for a subtle effect */
.review-item:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/* Add the following styles to your review.css */

.star {
  font-size: 20px;
  color: #ddd;
}

.star.filled {
  color: gold; /* or any other color you prefer for filled stars */
}
